{% extends "base.html" %}

{% block title %}トップページ{% endblock %}

{% block body %}
<p>トップページです</p>
{% endblock%}
<!--<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Money Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>

	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Total 
				</h1>
				<h2 class="subtitle">
					Primary subtitle
				</h2>
			</div>
		</div>
	</section>

	{% include "sidemenu.html" %}
	
</body>
</html>-->

