{% extends "base.html" %}
{% load static %}

{% block title %}Import Expenses{% endblock %}

{% block body %}
<script>
function pop(id) {
	console.log('aaabb' + id);
}
</script>

<nav class="breadcrumb" aria-label="breadcrumbs">
	<!--Breadcrumbs-->
	<ul>
		<li><a href="{% url 'index' %}">Home</a></li>
		<li class="is-active"><a href="#" aria-current="page">Import</a></li>
		<li class="is-active"><a href="#" aria-current="page">Expenses</a></li>
	</ul>
</nav>

<div class="field">
	<div class="field-body">
		<p class="control is-medium">
			<input type="month" class="input" value="{{ year }}-{{ month }}" onchange="console.log('aaa')"></input>
		</p>
	</div>
</div>

<p>
	{{total}}
</p>

<!--Table-->
<div class="table-container">
	<table class="table table is-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Month</th>
				<th>Day</th>
				<th>Kind</th>
				<th>Amount</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for expense in expenses %}
			<tr>
				<td>{{expense.id}}</td>
				<td>{{expense.date.year}}/{{expense.date.month}}</td>
				<td>{{expense.date.day}}</td>
				<td>{{expense.date.pay_method}}</td>
				<td>{{expense.amount}}</td>
				<td>
					<a class="icon has-text-warning" onclick="pop({{expense.id}})">
						<i class="fas fa-pen"></i>
					</a>
				</td>
				<td>
					<a class="icon has-text-danger">
						<i class="fas fa-times"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<!-- Any other Bulma elements you want -->
		<p>aa</p>
	</div>
	<button class="modal-close is-large" aria-label="close"></button>
</div>

{% endblock%}
