{% extends "base.html" %}
{% load static %}

{% block title %}Import Expenses{% endblock %}

{% block body %}
<script>
// add modal
openAddModal = (bankbook_out_id, amount) => {
	// input amount
	var inputAmount = document.getElementById('add-modal-amount');
	inputAmount.value = amount;
	// select kind
	var selectKind = document.getElementById('add-modal-select-kind');
	// action
	var form = document.getElementById('add-form');
	form.action = "add/" + bankbook_out_id;
	// visible
	document.getElementById("add-modal").classList.add('is-active');
}
closeAddModal = () => {
	document.getElementById("add-modal").classList.remove('is-active');
}

// modify modal
openModifyModal = (expense_id, expense_kind, amount) => {
	// input amount
	var inputAmount = document.getElementById('modify-modal-amount');
	inputAmount.value = amount;
	// select kind
	var selectKind = document.getElementById('modify-modal-select-kind');
	selectKind.value = expense_kind;
	// action
	var form = document.getElementById('modify-form');
	form.action = "modify/" + expense_id;
	// visible
	document.getElementById("modify-modal").classList.add('is-active');
}
closeModifyModal = () => {
	document.getElementById("modify-modal").classList.remove('is-active');
}

// remove modal
openRemoveModal = (expense_id) => {
	//document.getElementById("remove-modal").style.visibility = "visible";
	//document.getElementById("remove-modal").style.display ="block";
	var form = document.getElementById('remove-form');
	form.action = "delete/" + expense_id;
	document.getElementById("remove-modal").classList.add('is-active');
}
closeRemoveModal = () => {
	//document.getElementById("remove-modal").style.visibility = "hidden";
	//document.getElementById("remove-modal").style.display = "none";
	document.getElementById("remove-modal").classList.remove('is-active');
}

moveTo = () => {
	var input = document.getElementById('month-input');
	year_month = input.value.split('-')
	location.href="../../" + year_month[0] + "/" + year_month[1];
}
</script>

<nav class="breadcrumb" aria-label="breadcrumbs">
	<!--Breadcrumbs-->
	<ul>
		<li><a href="{% url 'index' %}">Home</a></li>
		<li class="is-active"><a href="#" aria-current="page">Import</a></li>
		<li class="is-active"><a href="#" aria-current="page">Expenses</a></li>
	</ul>
</nav>

<div class="field">
	<div class="field-body">
		<p class="control is-medium">
			<input type="month" class="input" id="month-input" value="{{ year }}-{{ month }}" onChange="moveTo()"></input>
		</p>
	</div>
</div>

<!--Table-->
<div class="table-container">
	<table class="table table is-striped">
		<thead>
			<tr>
				<th>Bankbook Out</th>
				<th>Month</th>
				<th>Day</th>
				<th>Kind</th>
				<th>Amount</th>
				<th>Note</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for expense in expenses %}
			<tr>
				<td>{{expense.bankbook_out.id}}</td>
				<td>{{expense.date.year}}.{{expense.date.month}}</td>
				<td>{{expense.date.day}}</td>
				<td>{{expense.expense_kind}}</td>
				<td>{{expense.amount}}</td>
				<td>{{expense.note}}</td>
				{% if expense.type == 'expense' %}
				<td>
					<a class="icon has-text-warning" onclick="openModifyModal({{expense.id}}, '{{expense.expense_kind}}', {{expense.amount}})">
						<i class="fas fa-pen"></i>
					</a>
				</td>
				<td>
					<a class="icon has-text-danger" onclick="openRemoveModal({{expense.id}})">
						<i class="fas fa-times"></i>
					</a>
				</td>
				{% elif expense.type == 'bankbook' %}
				<td>
					<a class="icon has-text-warning" onclick="openAddModal({{expense.bankbook_out.id}}, {{expense.amount}})">
						<i class="fas fa-plus"></i>
					</a>
				</td>
				<td>
				</td>
				{% endif %}

			</tr>
			{% endfor %}
			<!--<tr>
				<td></td>
				<td>{{expense.date.year}}.{{expense.date.month}}</td>
				<td>{{expense.date.day}}</td>
				<td>Others</td>
				<td>{{expense.amount}}</td>
				<td></td>
				<td>
					<a class="icon has-text-warning" onclick="openModifyModal({{expense.id}}, '{{expense.expense_kind}}', {{expense.amount}})">
						<i class="fas fa-pen"></i>
					</a>
				</td>
				<td>
					<a class="icon has-text-danger" onclick="openRemoveModal({{expense.id}})">
						<i class="fas fa-times"></i>
					</a>
				</td>
			</tr>-->
		</tbody>
	</table>
</div>

<div id="add-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<form method="POST" id="add-form">
			<section class="modal-card-body">
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Amount</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<input class="input" id="add-modal-amount" name='amount'>
							</p>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Kind</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<div class="select">
									<select id="add-modal-select-kind" name='expense_kind'>
										{% for expenseKind in expenseKinds %}
											<option>{{expenseKind}}</option>
										{% endfor %}
									</select>
								</div>
							</p>
						</div>
					</div>
				</div>
			</section>
			<footer class="modal-card-foot">
				{% csrf_token %}
				<button type="button" class="button" onclick="closeAddModal()">Cancel</button>
				<button type="submit" class="button is-danger">Save</button>
			</footer>
		</form>
	</div>
	<button class="modal-close is-large" aria-label="close" onclick="closeAddModal()"></button>
</div>

<div id="modify-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<form method="POST" id="modify-form">
			<section class="modal-card-body">
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Amount</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<input class="input" id="modify-modal-amount" name='amount'>
							</p>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label">Kind</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control">
								<div class="select">
									<select id="modify-modal-select-kind" name='expense_kind'>
										{% for expenseKind in expenseKinds %}
											<option>{{expenseKind}}</option>
										{% endfor %}
									</select>
								</div>
							</p>
						</div>
					</div>
				</div>
			</section>
			<footer class="modal-card-foot">
				{% csrf_token %}
				<button type="button" class="button" onclick="closeModifyModal()">Cancel</button>
				<button type="submit" class="button is-danger">Save</button>
			</footer>
		</form>
	</div>
	<button class="modal-close is-large" aria-label="close" onclick="closeModifyModal()"></button>
</div>

<div id="remove-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<section class="modal-card-body">
			Are you sure you want to delete this item?
		</section>
		<footer class="modal-card-foot">
			<form method="POST" id="remove-form" >
				{% csrf_token %}
				<button type="button" class="button" onclick="closeRemoveModal()">Cancel</button>
				<button type="submit" class="button is-danger">Delete</button>
			</form>
		</footer>
	</div>
	<button class="modal-close is-large" aria-label="close" onclick="closeRemoveModal()"></button>
</div>

{% endblock%}
